# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\sofia\OneDrive\Documents\DAT250\INDIVIDUELLE INNLEVERINGER\DAT250\Expass2\exper2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
